/*color pallette*/
/*
lime green - rgba(126, 217, 87, 1)
Dark Slate Gray - rgba(37, 68, 65, 1)
Zomp - rgba(67, 170, 139, 1)
firey rose - rgba(247, 100, 107, 1)
lavendar bush - rgba(255, 235, 245, 1)
*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@300;400;500;600&display=swap');

body, nav, section, article, footer, h1, h2, h3, h4, h5, h6, p, a, ul, li, dt, dd, address, figure, figcaption, form, fieldset, input, select, textarea {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 100%;
  text-decoration: none;
  font-weight: normal;
  color: inherit;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
  background-color: rgba(255, 235, 245, 1);
  font-family: -apple-system, 'Roboto', 'Montserrat', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::placeholder {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(37, 68, 65, 1);
}
